.author-box::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#8758FF);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.author-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#5CB8E4);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.author-box span{
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: rgba(253,253,253);
    z-index: 1;
}
