#about-page .author-tag-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#about-page .author-tag-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#about-page .author-tag-left .author-tag:first-child, #about-page .author-tag-left .author-tag:last-child {
  margin-right: -16px;
}
#about-page .author-tag-right .author-tag:first-child, #about-page .author-tag-right .author-tag:last-child {
  margin-left: -16px;
}
#about-page .author-box {
  position: relative;
  display: flex;
  align-items: center;
  margin: 80px 0 16px 0;
  justify-content: center;
}
#about-page .author-info {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
}
#about-page .author-tag {
  transform: translate(0,-4px);
  padding: 1px 8px;
  background: var(--heo-card-bg);
  border: var(--style-border-always);
  border-radius: 40px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: var(--heo-shadow-lightblack);
  animation: 6s ease-in-out 0s infinite normal none running floating;
}
#about-page .author-tag-left .author-tag:first-child, #about-page .author-tag-left .author-tag:last-child {
  margin-right: -16px;
}
#about-page .author-tag:nth-child(1) {
  animation-delay: 0s;
}
