.layout.hide-aside {
 max-width:1200px
}
#archive,
#category,
#tag {
 background:var(--pupper-card-bg);
 padding:25px 0
}
.article-sort-item::before,
.article-sort-title::after,
.article-sort-title::before {
 content:none
}
.article-sort-title {
 padding:0;
 padding-left:20px
}
.article-sort .year {
 width:100%!important;
 border-bottom:dashed 5px var(--pupper-color);
 font-size:26px
}
.article-sort {
 border:none;
 display:flex;
 flex-wrap:wrap;
 margin:20px 20px;
 padding:0
}
.article-sort-item:not(.year) {
 padding:5px;
 width:calc(33% - .8rem);
 margin:.4rem;
 border:2px solid var(--pupper-color);
 border-radius:10px;
 background:var(--card-bg);
 transition:.5s;
 height:120px
}
.article-sort-item-img {
 transition:.5s;
 height:100%;
 width:100%
}
.article-sort-item>a>img {
 border-radius:5px;
 width:34%
}
.article-sort-item-title {
 font-size:22px;
 padding-left:10px;
 margin:auto 0;
 line-height:25px;
 text-overflow:ellipsis
}
.article-sort-item-title:hover {
 transform:none
}
.article-sort-meta {
 height:max-content;
 position:relative
}
.article-sort-meta>.article-meta-wrap {
 float:left;
 width:100%
}
.article-sort-meta>.article-sort-item-time {
 float:right
}
.article-sort-item-categories,
.article-sort-item-tags {
 margin:0 3px;
 padding:5px 8px;
 border-radius:25px;
 border:1px solid var(--dark-grey);
 font-size:12px;
 transition:.5s
}
.article-sort-item-info>div:not(.article-sort-meta) {
 display:flex
}
.article-sort-description {
 width:0;
 opacity:0;
 overflow:hidden;
 transition:.5s
}
.article-sort-description {
 width:0;
 height:59px;
 vertical-align:middle;
 margin:5px 10px 0 15px;
 text-overflow:ellipsis
}
.article-sort-item:hover:not(.year) {
 box-shadow:0 0 10px var(--pupper-color)
}
.article-sort-item:hover:not(.year) .article-sort-description {
 width:auto;
 opacity:1
}
.article-sort-item:hover:not(.year) .article-sort-description {
 width:auto
}
.article-sort-item:hover:not(.year) .article-sort-item-img {
 transition:.5s;
 width:100%;
 height:100%;
 z-index:0;
 position:absolute;
 left:0;
 top:0;
 filter:blur(20px)
}
.article-sort-item:hover:not(.year) .article-sort-item-title {
 color:var(--pupper-font-white)!important;
 z-index:1
}
.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
 color:var(--pupper-light-grey)!important
}
.article-sort-item:hover:not(.year) .article-sort-item-categories {
 border:1.5px solid var(--pupper-green)
}
.article-sort-item:hover:not(.year) .article-sort-item-tags {
 border:1.5px solid var(--pupper-purple)
}
.article-sort-item:hover:not(.year) .article-sort-item-categories:hover {
 background:var(--pupper-green);
 box-shadow:0 0 5px var(--pupper-green)
}
.article-sort-item:hover:not(.year) .article-sort-item-tags:hover {
 background:var(--pupper-purple);
 box-shadow:0 0 5px var(--pupper-purple)
}
@media screen and (max-width:768px) {
 .article-sort-item:not(.year) {
  width:100%
 }
 .article-sort-meta>.article-meta-wrap {
  display:none
 }
 .article-sort-item-title {
  font-size:16px
 }
 .article-sort-item-img {
  width:90px
 }
}
.article-sort-item-info {
 padding:0 5px;
 position:absolute;
 width:65%;
 right:0
}
.article-sort-item:hover:not(.year) .article-sort-item-img img {
 width:100%
}
.article-sort-item:hover:not(.year) .article-sort-item-info {
 width:100%
}
.main-hero-waves-area {
 width:100%;
 position:absolute;
 left:0;
 bottom:-11px;
 z-index:5
}
.waves-area .waves-svg {
 width:100%;
 height:5rem
}
.parallax>use {
 animation:move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite
}
.parallax>use:nth-child(1) {
 animation-delay:-2s;
 animation-duration:7s;
 fill:#f7f9febd
}
.parallax>use:nth-child(2) {
 animation-delay:-3s;
 animation-duration:10s;
 fill:#f7f9fe82
}
.parallax>use:nth-child(3) {
 animation-delay:-4s;
 animation-duration:13s;
 fill:#f7f9fe36
}
.parallax>use:nth-child(4) {
 animation-delay:-5s;
 animation-duration:20s;
 fill:#f7f9fe
}
[data-theme=dark] .parallax>use:nth-child(1) {
 animation-delay:-2s;
 animation-duration:7s;
 fill:#18171dc8
}
[data-theme=dark] .parallax>use:nth-child(2) {
 animation-delay:-3s;
 animation-duration:10s;
 fill:#18171d80
}
[data-theme=dark] .parallax>use:nth-child(3) {
 animation-delay:-4s;
 animation-duration:13s;
 fill:#18171d3e
}
[data-theme=dark] .parallax>use:nth-child(4) {
 animation-delay:-5s;
 animation-duration:20s;
 fill:#18171d
}
@keyframes move-forever {
 0% {
  transform:translate3d(-90px,0,0)
 }
 100% {
  transform:translate3d(85px,0,0)
 }
}
@media (max-width:768px) {
 .waves-area .waves-svg {
  height:40px;
  min-height:40px
 }
}
