/* 导航栏按钮 */

#nav{
  font-size: 1.5em;
}
#menus > div.menus_items > div > a{
  line-height: 35px;
}
#nav .menus_items .menus_item .menus_item_child{
  top: 35px;
  transition: 0.3s;
  padding: 6px 4px 10px 4px!important;
  border-radius: 100px;
  background-color: var(--heo-card-bg);
  box-shadow: var(--heo-shadow-black);
  border: var(--style-border);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transform: translateZ(0);
}

#nav .menus_items .menus_item .menus_item_child:before{
  top: -8px;
}

#nav .menus_items .menus_item {
  padding: 0 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
}

#nav .menus_items .menus_item .menus_item_child li {
  display: inline-flex;
  list-style: none;
  border-radius: 5px;
  margin: 0 4px;
}

#nav .menus_items .menus_item .menus_item_child li a{
  letter-spacing: 0;
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 0.3rem 0.8rem;
  width: 100%;
}
#nav .menus_items .menus_item .menus_item_child li a:hover{
  background: var(--heo-main) !important;
  color: var(--heo-white) !important;
  box-shadow: var(--heo-shadow-main);
  margin: 0 auto;
  transform: scale(1) !important;
  padding: 0.3rem 1.05rem;
}
#nav .menus_items .menus_item .menus_item_child li a i:not(.fa-brands) {
  font-size: 1rem;
  margin-right: 8px;
}

/* 导航栏居中 */

#nav #menus {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 60px;
  left: 0;
  margin: 0;
}

#nav .menus_items {
  position: relative;
  width: fit-content;
  text-align: center;
  left: 0;
  top: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menus>div.menus_items>div>a {
  letter-spacing: 0.3rem;
  padding: 0 0.7rem 0 1rem;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
}
#page-header.nav-fixed #nav #menus[style*="padding-right: 300px;"] .menus_items {
  transform: translateX(-150px);
}
