.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/* 导航栏显示标题 */
#page-name::before {
  font-size: 18px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white !important;
  top: 0;
  left: 0;
  content: "回到顶部";
  background-color: var(--wyblog-bg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  opacity: 0;
  box-shadow: 0 0 3px var(--wyblog-bg);
  line-height: 45px; /*如果垂直位置不居中可以微调此值，也可以删了*/  
}
#page-name:hover:before {
  opacity: 1;
}
#name-container {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#name-container:hover{
    scale: 1.03;
}
#nav{
    padding: 0 20px;
}

/* 修复滚动显示标题居中 */
center#name-container {
  position: absolute !important;
  width: fit-content !important;
  left: 42% !important;
}
@media screen and (max-width: 768px) {
  center#name-container {
    display: none;
  }
}
.site-name .iconfont {
  font-size: 20px;
  font-weight: normal;
  line-height: 48px;
}

.site-name {
  width: 121px;
}

.site-name:hover {
  transform: scale(1.03);
}
#nav a:hover, #nav .menus_items .menus_item:hover .group {
  color: var(--heo-white) !important;
  background: var(--heo-main);
  transition: 0.3s;
  box-shadow: var(--heo-shadow-main);
}/* 返回顶部 */

#nav-totop {
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

#nav-totop.long {
  width: 80px;
}

#nav-totop .totopbtn {
  padding-top: 0;
}

#nav-totop .totopbtn i {
  position: absolute;
  display: flex;
  font-size: 0.8rem;
  opacity: 0;
}

#nav-totop:hover .totopbtn i {
  opacity: 1;
  color: var(--heo-white);
  transition: 0.3s;
}

#nav-totop #percent {
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

.nav-fixed #nav-totop #percent,
.page #nav-totop #percent {
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

#page-header:not(.nav-fixed) #percent {
  transition: 0.3s;
}

#page-header:not(.nav-fixed) #nav-totop {
  width: 0;
  transform: scale(0);
  margin-left: 0 !important;
  overflow: hidden;
  transition: 0.3s ease-in;
}

#nav-totop:hover #percent {
  opacity: 0;
  font-weight: bold;
}

#page-header #nav #nav-right .nav-button a.totopbtn {
  width: 25px;
  height: 25px;
  border-radius: 40px;
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.3s;
}

#page-header #nav #nav-right .nav-button.long a.totopbtn {
  width: 70px;
}

#page-header #nav #nav-right .nav-button:hover a.totopbtn {
  background: var(--heo-main);
}

#page-header #nav #nav-right .nav-button:not(.long):hover a.totopbtn {
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
}
