/* 右下角设置按钮 */
#rightside {
  z-index: 100;
  width: 1200px;
  max-width: 80vw;
  min-height: 250px;
  max-height: 90vh;
  right: 50%;
  bottom: 50%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: calc(.5rem * 2);
  border: 1px solid var(--tab-botton-bg);
  -webkit-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -moz-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -ms-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -o-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  background: rgba(242, 246, 252, .8);
  /* backdrop-filter: var(--backdrop-filter); */
  backdrop-filter: saturate(240%) blur(35px);
  -webkit-transform: translate(50%, 50%) !important;
  -moz-transform: translate(50%, 50%) !important;
  -ms-transform: translate(50%, 50%) !important;
  -o-transform: translate(50%, 50%) !important;
  transform: translate(50%, 50%) !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rightside.hidden {
  z-index: -1;
  opacity: 0 !important;
}

#rightside-mask.hidden {
  z-index: -1;
  opacity: 0 !important;
}

#rightside-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  /* background: rgba(0,0,0,0.6); */
}

#rightside-config-show {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#rightside-config-hide {
  height: auto !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

#rightside>div>button,
#rightside>div>a {
  position: relative;
  color: var(--font-color);
  background: var(--card-bg);
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 1px solid var(--tab-botton-bg);
  -webkit-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -moz-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -ms-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -o-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rightside>div>button.on,
#rightside>div>a.on,
html.hide-aside #hide-aside-btn {
  color: var(--white);
  background: #FF7242;
  border-color: #FF7242;
}


#rightside>div>button:hover,
#rightside>div>a:hover {
  color: #fff;
  background: rgb(22, 119, 179);
  border-color: rgb(22, 119, 179);
  -webkit-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -moz-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -ms-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -o-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
}

#darkmode i.fa-sun {
  color: #FF7242 !important;
}

#darkmode i.fa-moon {
  opacity: 0;
  color: #FFB449 !important;
  width: 50px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#darkmode i {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#rightside #rightside-header {
  display: flex;
  position: absolute;
  top: 1rem;
  padding: 0 2rem;
  width: 100%;
  font-size: 2rem;
}

#rightside #rightside-content {
  display: none;
  margin-top: 4rem;
}


#rightside #rightside-config-hide,
#rightside #rightside-config-show {
  margin-top: 4rem;
}

@media screen and (min-width: 1080px) {
  #rightside #rightside-content {
    display: block !important;
  }

  #rightside #rightside-config-hide,
  #rightside #rightside-config-show {
    margin-top: 0 !important;
  }
}


#rightside #rightside-close,
#rightside #rightside-back {
  cursor: url(https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/pointer.cur), pointer !important;
}

#rightside #rightside-close:hover,
#rightside #rightside-back:hover {
  color: #1677B3;
}

#rightside #rightside-title {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 4rem;
}

#rightside #rightside-content>div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  max-height: calc(90vh - 11rem);
  background: var(--card-bg);
  border: 1px solid var(--tab-botton-bg);
  border-radius: .5rem;
  margin: .5rem;
  overflow: hidden;
  padding: 1rem;
  -webkit-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -moz-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -ms-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  -o-box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
}

#rightside .item-headline {
  font-size: 1.2rem;
}

#rightside .item-headline i {
  margin-right: .3rem;
}

#rightside .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#rightside .aside-list>.aside-list-item {
  position: relative;
  width: calc(100%/2 - .25rem);
  height: 8rem;
  margin: .25rem 0;
  background: #F2F6FC;
  border: 1px solid var(--tab-botton-bg);
  border-radius: .5rem;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rightside #card-newest-comments .aside-list>span {
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -ms-transform: translateY(250px);
  -o-transform: translateY(250px);
  transform: translateY(250px);
}

#rightside #card-newest-comments .aside-list>.aside-list-item img {
  width: 2rem;
  height: 2rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: 50%;
}

#rightside #card-newest-comments .aside-list>.aside-list-item .content {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  padding: .5rem;
  margin-top: -.5rem;
  -webkit-box-orient: vertical;
}

#rightside #card-newest-comments .aside-list>.aside-list-item .content .name {
  position: absolute;
  top: .7rem;
  left: 3rem;
  font-size: .9rem;
}

#rightside #card-newest-comments .aside-list>.aside-list-item .content .comment {
  color: var(--font-color);
}

#rightside #card-newest-comments .aside-list>.aside-list-item .content:hover .comment {
  color: #1677B3;
}

#rightside .card-recent-post .aside-list>.aside-list-item {
  display: flex;
}

#rightside .card-recent-post .aside-list>.aside-list-item .thumbnail>img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: .5rem 0 0 .5rem;
}

#rightside .card-recent-post .aside-list>.aside-list-item .content {
  width: 100%;
  padding: .5rem;
  background: #F2F6FC;
  border-radius: 0 .5rem .5rem 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rightside .card-recent-post .aside-list>.aside-list-item .content .title {
  color: var(--font-color);
  line-height: 1.5;
  font-size: 1.1rem;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: bold;
  height: 3.5rem;
  margin: .5rem 0;
}

#rightside .card-recent-post .aside-list>.aside-list-item .content time {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rightside .card-recent-post .aside-list>.aside-list-item:hover .content time {
  color: #fff;
}

#rightside .card-recent-post .aside-list>.aside-list-item:hover .content {
  background: rgb(22, 119, 179);
}

#rightside .card-recent-post .aside-list>.aside-list-item:hover .content .title {
  color: #fff !important;
}

#rightside #card-post-content .card-widget {
  width: 100%;
}

#rightside .card-categories ul.card-category-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: .5rem;
}

#rightside .card-categories ul.card-category-list>.card-category-list-item {
  width: calc(100% / 2 - .5rem);
  margin-top: .5rem;
}

#rightside .card-categories ul.card-category-list>.card-category-list-item a {
  color: var(--font-color);
  padding: 3px 8px;
  border-radius: .5rem;
  background: #F2F6FC;
  display: flex;
  flex-direction: column;
}

#rightside .card-categories ul.card-category-list>.card-category-list-item a:hover {
  padding: 3px 17px;
  color: #fff !important;
  background: rgb(22, 119, 179);
  -webkit-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -moz-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -ms-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -o-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
}

#rightside .card-categories ul.card-category-list>.card-category-list-item a span {
  overflow: visible;
}

#rightside .card-categories ul.card-category-list>.card-category-list-item a span.card-category-list-name {
  opacity: 1;
  font-weight: bold;
}

#rightside .card-categories ul.card-category-list>.card-category-list-item a span.card-category-list-count {
  position: relative;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

#rightside .card-categories ul.card-category-list>.card-category-list-item a span.card-category-list-count::after {
  content: '篇';
  opacity: .8;
  font-size: 1rem;
  margin-left: .5rem;
}

#rightside .card-tag-cloud a {
  display: inline-block;
  font-size: 1.1rem !important;
  color: var(--font-color) !important;
  padding: 0rem .3rem;
  margin: .2rem;
  border: 1px solid var(--tab-botton-bg);
  border-radius: .5rem;
  background: #F2F6FC;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rightside .card-tag-cloud a:hover {
  color: #fff !important;
  background: rgb(22, 119, 179);
  border-color: rgb(22, 119, 179);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -moz-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -ms-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  -o-box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
  box-shadow: 0 8px 12px -3px rgba(22, 119, 179, .2);
}

#rightside .card-tag-cloud a sup {
  margin-left: .1em;
}
