/* 字体引入 */
@font-face {
  font-family: YSHST;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/优设好身体.woff2);
  font-display: swap;
}

@font-face {
  font-family: MiSans;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/MiSans.woff2);
  font-display: swap;
}

@font-face {
  font-family: HYTMR;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/HYTangMeiRen55W.woff2);
  font-display: swap;
}

@font-face {
  font-family: LXGW;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/霞鹜文楷.woff2);
  font-display: swap;
}

@font-face {
  font-family: TTQHB;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/甜甜圈海报字体.woff2);
  font-display: swap;
}

@font-face {
  font-family: Consolas_1;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/Consolas.woff2);
  font-display: swap;
}

@font-face {
  font-family: ZhuZiAWan;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/ZhuZiAWan2.woff2);
  font-display: swap;
}
