/* 移动端适配评论 */
@media screen and (max-width: 768px){
  .el-input.el-input--small.el-input-group.el-input-group--prepend{
      width: auto;
      height: auto;
      flex-direction: column;
      margin-left: 0 !important;
      margin-top: 0.5rem;
  }
  
  .tk-meta-input{
    flex-direction: column;
    position: relative;
  }

  
  .el-button.tk-send.el-button--primary.el-button--small{
    border-radius: 13px !important;
    height: 91px;
    width: 70px;
    margin-top: 0 !important;
  }
  }
  /* 移动端适配评论结束 */
