nav#nav.show
  #nav-group
    #blog_name
      .back-home-button(tabindex='-1')
        i.back-home-button-icon.fas.fa-grip-vertical
        .back-menu-list-groups
          .back-menu-list-group
            .back-menu-list-title 博客
            .back-menu-list
              a.back-menu-item(href='/' title='博客' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://www.wyblog1.tk/media/images/custom-headerLogo.ico' data-ll-status='loading')
                span.back-menu-item-text 博客
              a.back-menu-item(href='https://alist.wyblog1.tk/' rel='external nofollow' title='alist' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20236a16354d7c333cc7595efaee4b8c5667074602.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text alist
      a#site-name(href='/' title='返回博客主页')
        i.iconfont.icon-HRN
    #page-name-mask
      #page-name
        a#page-name-text(onclick='btf.scrollToDest(0, 500)')
          span #[=config.title]
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})
    #nav-left
      #fps-group.show
        #fps
        span.fpsText FPS
    #nav-right
      #travellings_button.nav-button.only-home(style='display: none')
        a.site-page(onclick='totraveling()' title='随机前往一个开往项目网站' href='javascript:void(0);' rel='external nofollow')
          i.fas.fa-train-subway
      #randomPost_button.nav-button
        a.site-page(onclick='toRandomPost()' title='随机前往一个文章')
          i.fas.fa-shuffle
      #search-button.nav-button
        a.site-page.social-icon.search(title='站内搜索' href='javascript:void(0);' rel='external nofollow')
          i.fas.fa-magnifying-glass
      #nav-console.nav-button
        a.console_switchbutton(onclick='heo.showConsole()' title='显示中控台' href='javascript:void(0);' rel='external nofollow')
          i.fas.fa-bars-progress
      #nav-totop.nav-button(onclick='btf.scrollToDest(0, 500)')
        a.totopbtn(data-pjax-state='')
          i.fas.fa-arrow-up
          span#percent 0
      #toggle-menu
        a.site-page(data-pjax-state='')
          i.fas.fa-bars.fa-fw
