/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
@font-face {
    font-family: YSHST;
    src: url(https://blog.cjg010316.top/font/优设好身体.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: block
}
/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://sourcebucket.s3.ladydaily.com/img/snowflower.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://sourcebucket.s3.ladydaily.com/img/aurora.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(232, 234, 246),
    rgb(197, 202, 233),
    rgb(159, 168, 218)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}

.iconfont {
  font-family: "iconfont" !important;
  /* 这里可以自定义图标大小 */
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@import 'https://cdn.jsdelivr.net/gh/wyblog11/661111@main/themes/butterfly/source/css/_custom/about/about.css'
@import 'https://cdn.jsdelivr.net/gh/wyblog11/661111@main/themes/butterfly/source/css/_custom/about/careers.css'
@import 'https://cdn.jsdelivr.net/gh/wyblog11/661111@main/themes/butterfly/source/css/_custom/about/genshinimpact.css'
@import 'https://cdn.jsdelivr.net/gh/wyblog11/661111@main/themes/butterfly/source/css/_custom/about/hello-about.css'
@import 'https://cdn.jsdelivr.net/gh/wyblog11/661111@main/themes/butterfly/source/css/_custom/about/skills.css'
@import 'https://cdn.jsdelivr.net/gh/wyblog11/661111@main/themes/butterfly/source/css/_custom/about/site.css'
