.contact-info{
    position: fixed;
    top: 22%;
    z-index: 200;
    left: -51px;
    transition: 0.4s;
  }
  .contact-info:hover{
    left: 0px;
  }
  .contact-info .option{
    cursor: pointer;
    position: relative;
  }
  
  .contact-info .option i{
    display: block;
    width: 50px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: rgb(255, 255, 255);
    color: #b9b9b9;
    font-size: 20px;
    transition: 0.4s;
    border-radius: 0 10px 10px 0;
  }
  
  .contact-info .option:hover i{
    color: #3498db;
  }
  .contact-info .text{
    border-radius: 15px;
    position: absolute;
    height: 60px;
    width: 200px;
    background: rgba(255,255,255,.85);
    top: 0;
    z-index: -1;
    left: -136px;
    color: rgb(0, 0, 0);
    line-height: 60px;
    text-align: center;
    transition: 0.4s;
  }
  .contact-info .aplayertext{
    transition: none!important;
  }
  .aplayer{
    position: absolute!important;
  }
  .aplayer.aplayer-fixed .aplayer-body{
    left: -60px;
    position: absolute!important;
    width: 370px!important;
    transition: none!important;
    border-radius: 10px!important;
  }
  .aplayer.aplayer-fixed{
    left: -300px;
  }
  .contact-info .option:hover .aplayer.aplayer-fixed .aplayer-body,.contact-info .option:hover .aplayer.aplayer-fixed{
    left: 0px;
  }
  .contact-info .option:hover .text{
    left: 60px;
  }
  .contact-info .blok{
    position: absolute;
    height: 60px;
    width: 100px;
    top: 0;
    z-index: -1;
    left: 0px;
  }
  .contact-info .bloktop{
    position: absolute;
    height: 75px;
    width: 100px;
    bottom: 0px;
    z-index: -1;
    left: 0px;
  }
  .contact-info .blokbottom{
    position: absolute;
    height: 75px;
    width: 100px;
    top: 0;
    z-index: -1;
    left: 0px;
  }
  .contact-info .option:hover .blok,.contact-info .option:hover .bloktop,.contact-info .option:hover .blokbottom{
    left: 0px;
  }
  .contact-info .option:hover .aplayertext{
    left: 60px!important;
    width: 370px!important;
    background: transparent!important;
  }
  .aplayer.aplayer-fixed .aplayer-miniswitcher{
    border-radius: 0 10px 10px 0!important;
  }
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    transition: 0.28s!important;
    border-radius: 10px!important;
  }
  .aplayer .aplayer-pic{
    height: 60px!important;
  }
  .aplayer .aplayer-info{
    height: 60px!important;
  }
  .aplayer.aplayer-narrow .aplayer-body{
    height: 60px;
  }
  .aplayer .aplayer-list.aplayer-list-hide{
    margin-bottom: 59px!important;
  }
  .aplayer.aplayer-fixed .aplayer-list{
    margin-bottom: 62px!important;
    max-height: 240px!important;
  }
  .aplayer.aplayer-fixed .aplayer-info{
    transition: none!important;
  }
  .aplayer.aplayer-narrow .aplayer-body{
    height: 60px!important;
  }
  .aplayer.aplayer-narrow .aplayer-body, .aplayer.aplayer-narrow .aplayer-pic{
    border-radius:  10px 0 0 10px!important;
  }
  .aplayer.aplayer-fixed{
    border-radius: 10px!important;
  }
  .aplayer .aplayer-pic{
    border-radius:  0 0 0 10px!important;
  }
  .aplayer.aplayer-fixed .aplayer-list{
    border-radius: 10px 10px 0 0!important;
  }
  [data-theme=dark]
  .contact-info .option i{
    background: rgb(22, 22, 22);
    color: #b9b9b9;
  }
  [data-theme=dark]
  .contact-info .text{
    background: rgba(23, 23, 23, 0.85);
    color: rgba(255, 255, 255, 0.92);
  }
  @media screen and (max-width:1300px){
    .contact-info{
        display: none!important;
      }
  }
  .aplayer{
    opacity: .93!important;
  }
  [data-theme=dark]
  .aplayer{
    background: rgb(22, 22, 22)!important;
    color: rgb(255, 255, 255);
  }
  [data-theme=dark]
  .aplayer.aplayer-fixed .aplayer-body{
    background: rgb(22, 22, 22)!important;
    color: rgb(255, 255, 255);
  }
  [data-theme=dark]
  .aplayer .aplayer-list ol li:hover{
    background: #3b3b3b;
  }
  [data-theme=dark]
  .aplayer .aplayer-list ol li.aplayer-list-light{
    background: #686868;
  }
  [data-theme=dark]
  .aplayer .aplayer-info .aplayer-controller .aplayer-time{
    color: #d4d4d4;
  }
  [data-theme=dark]
  .aplayer .aplayer-list ol li .aplayer-list-index{
    color: #d4d4d4;
  }
  [data-theme=dark]
  .aplayer .aplayer-list ol li .aplayer-list-author{
    color: #d4d4d4;
  }
  [data-theme=dark]
  .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{
    fill: #d4d4d4;
  }

.contact-info .text .strip{
    border-radius: 5px;
    position: absolute;
    height: 36px;
    width: 5px;
    background: rgba(20, 163, 230, 0.8);
    top: 12px;
    z-index: -1;
    right: 4px;
    transition: 0.4s;
  }
  .aplayertext .strip{
    transition: none!important;
  }
  .contact-info .option:hover .aplayertext .strip{
    background: transparent;
  }
  [data-theme=dark]
  .aplayer .aplayer-miniswitcher{
    background: rgba(23, 23, 23, 0.85);
  }
  .aplayer .aplayer-miniswitcher .aplayer-icon:hover path{
    fill: #3498db;
  }
  [data-theme=dark]
  .contact-info .option:hover i{
    color: #3498db;
  }
.contact-info .option .text .post-reward .tip-button__text{
  margin: 25px!important;
}
.post-reward .reward-button .reward-main .reward-all{
  border-radius: 12px!important;
}
.contact-info .option .text .post-reward .reward-button .reward-main .reward-all{
  z-index: 999!important;
}
[data-theme="dark"]
.contact-info .option .text .post-reward .tip-button{
  border: solid 2px rgba(236, 233, 233, 0.8);
  background: #043749d0;
}
/* 友链一行显示更多 */
.site-card {
  width: calc(100% / 5 - 16px) !important;
  border-radius: 18px !important;
}
.site-card .img {
  height: 165px !important;
  border-radius: 18px !important;
}
/* 适应宽度不同的设备 */
@media screen and (max-width: 1200px) {
  .site-card {
    width: calc(100% / 4 - 16px) !important;
  }
}
@media screen and (max-width: 900px) {
  .site-card {
    width: calc(100% / 3 - 16px) !important;
  }
}
@media screen and (max-width: 600px) {
  .site-card {
    width: calc(100% / 2 - 16px) !important;
  }
}
/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}
/* 欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}
.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
  width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}
/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
@font-face {
    font-family: YSHST;
    src: url(https://blog.cjg010316.top/font/优设好身体.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: block
}
/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://sourcebucket.s3.ladydaily.com/img/snowflower.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://sourcebucket.s3.ladydaily.com/img/aurora.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}

.iconfont {
  font-family: "iconfont" !important;
  /* 这里可以自定义图标大小 */
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
