/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
.layout.hide-aside{ 
    max-width: 1400px; 
}
/* 全局宽度 */
.layout {
  max-width: 1400px;
}

/* 侧边卡片栏宽度 */
.aside-content {
  max-width: 318px;
  min-width: 300px;
}
/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}
#home_top {
  margin: 1rem auto 0;
  padding: 0px 15px;
  max-width: 1301px;
  width: 90%;
}
/* 右键菜单 */
#rightMenu {
  display: none;
  position: fixed;
  width: 160px;
  height: fit-content;
  top: 10%;
  left: 10%;
    /* 菜单面板背景色 */
  background-color: var(--card-bg);
    /* 菜单面板文字颜色 */
  border: 1px solid var(--font-color);
  border-radius: 8px;
  z-index: 100;
}
#rightMenu .rightMenu-group {
  padding: 7px 6px;
}
#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
  border-bottom: 1px solid var(--font-color);
}
#rightMenu .rightMenu-group.rightMenu-small {
  display: flex;
  justify-content: space-between;
}
#rightMenu .rightMenu-group .rightMenu-item {
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  transition: 0.3s;
  color: var(--font-color);
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
}
#rightMenu .rightMenu-group .rightMenu-item:hover {
    /* 鼠标悬浮选项颜色 */
  background-color: var(--text-bg-hover);
}
#rightMenu .rightMenu-group .rightMenu-item i {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0 5px;
}
#rightMenu .rightMenu-group .rightMenu-item span {
  line-height: 30px;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
  height: 40px;
  line-height: 40px;
}
.rightMenu-group.hide {
  display: none;
}
/* 页脚与头图透明 */
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}
/* 欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}
.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
  width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}
/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
@font-face {
    font-family: YSHST;
    src: url(https://blog.cjg010316.top/font/优设好身体.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: block
}
/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://sourcebucket.s3.ladydaily.com/img/snowflower.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://sourcebucket.s3.ladydaily.com/img/aurora.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}

@import "//at.alicdn.com/t/c/font_3895868_7yxmkxsu9a.css";
.iconfont {
  font-family: "iconfont" !important;
  /* 这里可以自定义图标大小 */
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.loading-img {
  background: url(https://www.wyblog1.tk/media/images/custom-headerLogo.ico) no-repeat center center;
  background-size: cover;
}

#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
#nav *::after{
    background-color: transparent!important;
}
.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
  /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
  改为：*/
  left:50%;
  translate:-50%;
}
#site-name::before{
    opacity: 0;
    background-color: var(--lyx-theme)!important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position:absolute;
    top:0!important;
    right:0!important;
    width:100%;
    height:100%;
    content: "\f015";
    box-shadow: 0 0 5px var(--lyx-theme);
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color:white;
    line-height:34px;/*如果有溢出或者垂直不居中的现象微调一下这个参数*/
    font-size: 18px;/*根据个人喜好*/
}
#site-name:hover::before{
    opacity: 1;
    scale:1.03;
}
#site-name{
    position: relative;
    font-size: 24px; /*一定要把字体调大点，否则效果惨不忍睹！*/
}
:root{
    --lyx-theme:#ed709b /*我的主题色*/
}
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

/*
2022.10.4更新：
根据我发现的没有自适应，间距不合理问题进行调整，如果用了这个的朋友们建议改一改
*/
#page-name::before{
    font-size:18px;
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 8px;
    color:white!important;
    top:0;
    left:0;
    content:'回到顶部';
    background-color: var(--lyx-theme);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
    box-shadow: 0 0 3px var(--lyx-theme);
    line-height: 45px; /*如果垂直位置不居中可以微调此值，也可以删了*/
}
#page-name:hover:before{
    opacity: 1;
}
@media screen and (max-width:900px){
    #page-name,#menus{
      display:none!important;
    }
}

#name-container{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
#name-container:hover{
    scale:1.03
}
#page-name{
    position: relative;
    padding:10px 30px/*如果文字间隔不合理可以微调修改，第二个是水平方向的padding，第一个是垂直的*/
}
#nav{
    padding: 0 20px;
}

//footer.css//
#footer-wrap {
    color: var(--Jay-fontcolor)
}

#footer-wrap a {
    color: var(--Jay-fontcolor);
    height: 44px;
    line-height: 36px
}

#footer-wrap a:hover {
    color: var(--Jay-hovertext);
    background-color: var(--Jay-none)
}

div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center
}

@media screen and (max-width: 768px) {
    img.footer_mini_logo {
        display: none
    }
    div#footer_deal {
        flex-wrap: wrap;
        flex-direction: row
    }
}

a.deal_link {
    display: flex;
    margin: 1rem 27px;
    color: var(--heo-card-bg);
    border-radius: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--heo-fontcolor);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

a.deal_link:hover {
    color: var(--heo-white);
    background: var(--heo-main);
}

img.footer_mini_logo {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    cursor: pointer;
    /*filter: drop-shadow(0 12px 12px #ee7d7936);*/
    transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
    img.footer_mini_logo:hover {
        transform: scale(1.03)
    }
    img.footer_mini_logo:active {
        transform: scale(.97)
    }
}

#weblogo {
    align-self: center
}

#footer-wrap a#Jayblog_footerlogo:hover {
    background: var(--Jay-none)
}

.Jayblog_footerlogo_img {
    filter: drop-shadow(0 12px 12px #ee7d7936)
}

.Jayblog_footerlogo_img:hover {
    transform: scale(1.03)
}

#footer {
    background: linear-gradient(180deg, var(--Jay-background) 0, var(--Jay-card-bg) 25%);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1002
}

@media screen and (max-width: 768px) {
    #footer {
        background: linear-gradient(180deg, var(--Jay-background) 0, var(--Jay-card-bg) 25%);
        margin-top: 0;
        z-index: 999
    }
}

[data-theme=dark] #footer:before,
[data-theme=dark] #page-header:before,
[data-theme=dark] #web_bg:before {
    background-color: var(--Jay-none) !important
}

@media screen and (max-width: 768px) {
    #letlink {
        flex-direction: column !important;
        text-align: center !important
    }
    #letlogo {
        display: none !important
    }
    #footer-wrap {
        margin-top: 1rem !important
    }
}

.footer-banner-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px 0 50px;
    text-align: left !important;
    max-width: 1200px;
    margin: 0 auto
}

#footer-wrap h1 {
    font-size: 1.5rem;
    margin: 0
}

#footer-wrap h3 {
    padding: 0 12px
}

#footer-wrap p {
    margin: 0 0 0 .2rem;
    font-size: .8rem;
    opacity: .8
}

#footer-wrap i {
    margin-right: .5rem;
    width: 22px;
    font-size: 18px;
    display: inline-block
}

#footer-wrap #letlogo {
    display: flex;
    flex-direction: column;
    /*margin-right: 60px;*/
    align-self: center;
    margin: auto 0;
    max-width: 200px
}

#footer-wrap #letlink .link_group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 180px
}

#footer-wrap #letlink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem 0
}

#weblogo i {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -10px
}

#footer:before {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    content: '' !important;
    z-index: -1
}

#Jay-footer .footer-links {
    display: flex;
    flex-direction: column
}

#Jay-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem
}

#Jay-footer .footer-item {
    font-size: 1rem;
    line-height: .8rem;
    margin: .38rem 0;
    color: var(--Jay-fontcolor);
    /*margin-right: auto*/
}

#Jay-footer .footer-item:hover {
    color: var(--Jay-theme)
}

#Jay-footer .footer-group {
    min-width: 120px
}

#Jay-footer .footer-title {
    color: var(--Jay-secondtext);
    font-size: 1rem
}

#footer-banner {
    padding: 1rem;
    color: var(--Jay-fontcolor);
    margin-top: 1rem;
    background: var(--Jay-secondbg);
    display: flex;
    overflow: hidden;
    z-index: 1002;
    transition: .3s;
    /*border-top: var(--style-border)*/
}

[data-theme=dark] #footer-banner {
    background: var(--Jay-secondbg)
}

#footer-banner .footer-banner-links {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

#footer-banner .footer-banner-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 32px
}

#footer-banner .footer-banner-link {
    margin-right: 1rem;
    color: var(--Jay-fontcolor);
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap
}

#footer-banner .footer-banner-link.cc {
    margin-right: 0
}

#footer-banner .footer-banner-link.cc i {
    margin-right: .5rem
}

#footer-banner .footer-banner-link:hover {
    color: var(--Jay-theme)
}

#footer-banner>div>div.footer-banner-left>span {
    margin-right: 1rem
}

#footer-banner .footer-banner-right a:hover {
    color: var(--Jay-lighttext)
}

#footer-banner {
    padding: 1rem;
    color: var(--heo-fontcolor);
    margin-top: 1rem;
    background: var(--heo-secondbg);
    display: flex;
    overflow: hidden;
    z-index: 1002;
    transition: 0.3s;
}

#footer_deal i {
    font-size: 1.25rem;
    transition: .3s;
    line-height: 1.3rem;
    height: 1.3rem
}

#footer-banner .footer-links {
    display: flex;
    flex-direction: column;
}

div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center;
}

#footer-banner .footer-item {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 0.38rem 0;
    color: var(--heo-fontcolor);
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
}
//Footer end//
