#footer-wrap {
    color: #363636
}

#footer-wrap a {
    color: #363636;
    height: 44px;
    line-height: 36px
}

#footer-wrap a:hover {
    color: #425AEF;
    background-color: #00000000;
}

div#footer_deal {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
    align-items: center
}

@media screen and (max-width: 768px) {
    img.footer_mini_logo {
        display: none
    }

    div#footer_deal {
        flex-wrap: wrap;
        flex-direction: row
    }
}


a.deal_link {
    display: flex;
    margin: 1rem 27px;
    color: #fff;
    border-radius: 3rem;
    width: 32px;
    height: 32px;
    background: var(--font-color);
    justify-content: center;
    align-items: center;
    transition: .3s
}

a.deal_link:hover {
    color: #fff;
    background: #425AEF
}

img.footer_mini_logo {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    cursor: pointer;
    /*filter: drop-shadow(0 12px 12px #ee7d7936);*/
    transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
    img.footer_mini_logo:hover {
        transform: scale(1.03)
    }

    img.footer_mini_logo:active {
        transform: scale(.97)
    }
}

#weblogo {
    align-self: center
}

#footer-wrap a#Jayblog_footerlogo:hover {
    background: #00000000
}

.Jayblog_footerlogo_img {
    filter: drop-shadow(0 12px 12px #ee7d7936)
}

.Jayblog_footerlogo_img:hover {
    transform: scale(1.03)
}

#footer {
    background: linear-gradient(180deg, #f7f9fe 0, #fff 25%);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1
}

@media screen and (max-width: 768px) {
    #footer {
        background: linear-gradient(180deg, #f7f9fe 0, #fff 25%);
        margin-top: 0;
        z-index: 1
    }
}

[data-theme=dark] #footer:before, [data-theme=dark] #page-header:before, [data-theme=dark] #web_bg:before {
    background-color: #00000000 !important
}

@media screen and (max-width: 768px) {
    #letlink {
        flex-direction: column !important;
        text-align: center !important
    }

    #letlogo {
        display: none !important
    }

    #footer-wrap {
        margin-top: 1rem !important
    }
}

.footer-banner-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px 0 50px;
    text-align: left !important;
    max-width: 1200px;
    margin: 0 auto
}

#footer-wrap h1 {
    font-size: 1.5rem;
    margin: 0
}

#footer-wrap h3 {
    padding: 0 12px
}

#footer-wrap p {
    margin: 0 0 0 .2rem;
    font-size: .8rem;
    opacity: .8
}

#footer-wrap i {
    margin-right: .5rem;
    width: 22px;
    font-size: 18px;
    display: inline-block
}

#footer-wrap #letlogo {
    display: flex;
    flex-direction: column;
    /*margin-right: 60px;*/
    align-self: center;
    margin: auto 0;
    max-width: 200px
}

#footer-wrap #letlink .link_group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 180px
}

#footer-wrap #letlink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem 0
}

#weblogo i {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -10px
}

#footer:before {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    content: '' !important;
    z-index: -1
}

#Jay-footer .footer-links {
    display: flex;
    flex-direction: column
}

#Jay-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 1rem
}

#Jay-footer .footer-item {
    font-size: 1rem;
    line-height: .8rem;
    margin: .38rem 0;
    color: #363636;
    /*margin-right: auto*/
}

#Jay-footer .footer-item:hover {
    color: #425AEF
}

#Jay-footer .footer-group {
    min-width: 120px
}

#Jay-footer .footer-title {
    color: rgba(60, 60, 67, 0.6);
    font-size: 1rem
}

#footer-banner {
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    overflow: hidden;
    z-index: 1002;
    transition: .3s;
    /*border-top: var(--style-border)*/
    background: linear-gradient(208deg,#4584ff 0,#4584ff 11%,#ff7676 100%);
}

[data-theme=dark] #footer-banner {
    background: #30343f
}

#footer-banner .footer-banner-links {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

#footer-banner .footer-banner-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 32px
}

#footer-banner .footer-banner-link {
    margin-right: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap
}

#footer-banner .footer-banner-link.cc {
    margin-right: 0
}

#footer-banner .footer-banner-link.cc i {
    margin-right: .5rem
}

#footer-banner .footer-banner-link:hover {
    color: #425AEF
}

#footer-banner > div > div.footer-banner-left > span {
    margin-right: 1rem
}

#footer-banner .footer-banner-right a:hover {
    color: #425AEF
}

#footer_deal i {
    font-size: 1.6rem;
    transition: .3s;
    line-height: 1.3rem;
    height: 1.3rem
}

.footer-github {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
}

.footer-dribbble {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
}

.footer-pinterest {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
}

.footer-mail {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
}

/* 文本二 */
.t-t-l {
    flex: 0.5;
    margin-right: 10px;
    margin-right: -44px;
    transform: translateY(-11px);
  }
  
  .t-t-l .bg-ad {
    /* width: 85%; */
    border-radius: 10px;
    padding: 0 10px;
  }
  [data-theme="dark"] .btn-xz {
    display: block;
    background-color: #737171;
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
  }
  .btn-xz-box {
    margin-top: 10px;
  }
  [data-theme="dark"] .t-t-l .bg-ad  {
    color: #f7f7fa;
  }

  [data-theme="dark"]  .ft-t {
    color: #a0a3b8;
  }
  .btn-xz {
    display: block;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
    border-radius: 30px;
  }
  
  .btn-xz:hover {
    text-decoration: none !important;
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
  }
  
  .ft-t {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
    color: #8a8a8e;
  }
  
  @media screen and (max-width: 768px) {
  
    .t-t-l .bg-ad {
        width: 100%;
    }
  
    #post-info .post-title {
        font-size: 1.5em;
        z-index: 4;
    }
  
  }
  @media screen and (max-width: 576px){
  
    .t-t-l {
        flex-basis: 100% !important;
        margin-left: 0px !important;
  }
  }
