.home-catalog-bar#catalog-bar
  i.fa-fw.fas.fa-shapes
  #catalog-list
    .catalog-list-item.catalog-shouye-item(id= (is_current('/') === true) ? 'home-catalog-item' : '')
      a(href="/") 首页
    !=catalog_list("categories")
  a.category-bar-more(href="/categories/") 更多
