#footer
  #footer_deal
    a.deal_link(href='https://space.bilibili.com/1945630406?spm_id_from=333.1007.0.0' title='哔哩哔哩' target='_blank')
      i.iconfont.icon-bilibili
    a.deal_link(href='https://github.com/wyblog11' title='GitHub' target='_blank')
      i.iconfont.icon-github
    img.footer_mini_logo.entered.loading(style='border-radius:50%' src='hhttps://www.wyblog1.tk/media/images/custom-headerLogo.ico' onclick='btf.scrollToDest(0, 500)' title='返回顶部')
    a.deal_link(target='_blank' rel='noopener' href='https://gitee.com/661111' title='Gitee')
      i.iconfont.icon-logo-gitee-g-red
    a.deal_link(href='https://www.kuaishou.com/profile/3xh4ut4ekexbr7a' title='快手' target='_blank')
      i.iconfont.icon-kuaishou
  #Jay-footer
    .footer-group
      h3.footer-title 直达
      .footer-links
        a.footer-item(href='https://wyblog1.tk' target='_blank') 我的主页
        a.footer-item(href='/bangumis/') 追番
        a.footer-item(onclick='toRandomFlink()') 随机友链
    .footer-group
      h3.footer-title 分类
      .footer-links
        a.footer-item(href='/categories/artitalk/') artitalk
        a.footer-item(href='/categories/bbtalk/') bbtalk
    .footer-group
      h3.footer-title 关于
      .footer-links
        a.footer-item(href='/about/') 关于我
        a.footer-item(href='/archives/') 文章归档
        a.footer-item(href='/update/') 更新记录
    .footer-group
      h3.footer-title 服务
      .footer-links
        a.footer-item(href='https://tyucdn.com/' target='_blank') 天御云服务
        a.footer-item(href='https://v6.51.la/' target='_blank') 51la统计
        a.footer-item(href='https://tongji.baidu.com/' target='_blank') 百度统计
        a.footer-item(href='https://bf.zzxworld.com/s/712' target='_blank') BlogFinder
    .footer-group
      h3.footer-title
        | 友链 
        button(
          href="javascript:;"
          onclick="flink_random.randomLink()"
          title="换一批"
          class="fa-rotate-righ-button"
        )
          i.fa-rotate-right.fa-solid
      .footer-links#friend-links-in-footer
        a.footer-item(href="")
        a.footer-item(href="")
        a.footer-item(href="")
        a.footer-item(href="")
        a.footer-item(href="")
        a.footer-item(data-pjax-state="" href="/link/") 查看更多
  #footer-banner
    .footer-banner-links
      .footer-banner-left
        .footer-banner-left
          #footer-banner-tips
          .copyright
            | ©2022 - 2023 By 
            a.footer-banner-link(href='/') 张洪HEO
            a(data-pjax-state='')
      .footer-banner-right
        a.footer-banner-link(href='https://github.com/jerryc127/hexo-theme-butterfly' title='Pottery') 主题
        a.footer-banner-link(href='/atom.xml' title='RSS') 订阅
        a.footer-banner-link(href='/about/' title='关于我' target='_blank') 关于我
          i.iconfont.icon-occ
          i.iconfont.icon-occ-by
          i.iconfont.icon-onc
          i.iconfont.icon-ond
  #quit-box(onclick='RemoveRewardMask()')
  .comment-barrage.needEndHide.hide
