.down-index
    .type
        a(alt="无聊")
          img(src='https://blog.4t.pw/img/tz/1.webp' style='width:100px;height:100px;')
        a.hover(alt="期待")
          img(src='https://blog.4t.pw/img/tz/2.webp' style='width:100px;height:100px;')
        a(alt="绿色软开心件")
          img(src='https://blog.4t.pw/img/tz/3.webp' style='width:100px;height:100px;')
        
        link(rel='stylesheet', href='/css/mycss.css')
