.contact-info
  .option
    i.fas.fa-rocket
    .bloktop
    .text 还不造有啥用滴悬浮模块
      .strip
  .option
    i.fas.fa-music
    .blokbottom
    .text.aplayertext
      .strip
      .aplayer.no-destroy(mutex='true', listfolded='true', data-id='6617801725', data-preload="none" , data-server='netease', data-volume='0.25', data-order='random', data-type='playlist', data-fixed='true', data-autoplay='false')
