#bbTimeList.bbTimeList.container(onclick=`window.open('/ispeak/','_self')`)
    bblogo(onclick="location='/ispeak/'",title="即刻短文",style="font-size: 2rem;")
    #bbtalk.swiper-container
        #bber-talk.swiper-wrapper
    i.bber-gotobb.fas.fa-arrow-circle-right(onclick="location='/ispeak/'",title="查看全文")
.js-pjax
    script.
    link(rel="stylesheet", href="/css/bbtalk.css")
    script(src='/js/timeago.min.js',data-pjax='')
    script(src='/js/bbtalk.js',data-pjax='',defer='')
