#ispeak_page
  .author-content.author-content-item.ispeakpage.single
    .card-content
      .author-content-item-tips 短文
      span.author-content-item-title 分享生活的小确幸
      .content-bottom
        .tips 使用 ispeak 构建
      .banner-button-group
        a.banner-button(onclick='pjax.loadUrl("https://kkapi.js.org")')
          i.fas.fa-circle-chevron-right
          span.banner-button-text 如何使用
