#memos_page
  .author-content.author-content-item.essayPage.single
    .card-content
      .author-content-item-tips 即刻短文
      span.author-content-item-title 分享生活的小确幸
      .content-bottom
        .tips 使用 即刻短文静态部署版 构建
      .banner-button-group
        a.banner-button(onclick='pjax.loadUrl("/posts/49736/")')
          i.fas.fa-circle-chevron-right
          span.banner-button-text 如何使用
