extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  include includes/top/top.pug
  #recent-posts.recent-posts
    include includes/categoryBar.pug
    +postUI
    include includes/pagination.pug
    
