extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #bbtalk.bbtalk
     #bber-talk
       link(rel="stylesheet", href="/css/bbtalk.css")
       script(src='/js/timeago.min.js')
       script(src='/js/bbtalk.js')
  #recent-posts.recent-posts
    include includes/categoryBar.pug
    +postUI
    include includes/pagination.pug
    
