extends includes/layout.pug

block content
  - let transparent = (is_current('/music/')) ? true : false
  - let music = is_current('/music/') ? true : false
  #page(class= (transparent === true) ? 'transparentpage' : '')(class= (music === true) ? 'bb-transparent' : '')
    if top_img === false
      h1.page-title= page.title

    case page.type
      when 'tags'
        include includes/page/tags.pug
      when 'link'
        include includes/page/flink.pug
      when 'categories'
        include includes/page/categories.pug
      when 'about'
        include includes/page/about.pug
      default
        include includes/page/default-page.pug

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})
